<nav class="navbar navbar-light bg-white fixed-top">
  <div class="d-flex justify-content-around col-md-12">
    <div class="col-md-3 d-flex justify-content-center">
      <img style="width: 14%;" src="../assets/images/facebook-logo.png" alt="">
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <img style="width: 14%;" src="../assets/images/account-icon.png" alt="">
    </div>
  </div>
</nav>
{{yield}}