<div class="card my-3">
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-md btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Post
        </button>
    </div>
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                            placeholder="What's on your mind,ezhil?"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Add to your post</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <button class="btn btn-primary btn-md btn-block" data-bs-dismiss="modal" type="submit">
                        Post</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{yield}}