<button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" type="button"><i class="bi bi-pencil-square"></i> Edit Profile</button>
<div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Profile picture</h6>
                        <button class="btn btn-outline-none" data-bs-target="#image" data-bs-toggle="modal" type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        {{#if @accoutDetail.profile.image}}
                        <img class="avatar" src='data:image/jpeg;base64,{{@accoutDetail.profile.image}}' alt="">
                        {{else}}
                        <img class="avatar" src="/assets/images/user.png" alt="">
                        {{/if}}
                    </div>
                </div>

                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Bio</h6>
                        <button class="btn btn-outline-none" data-bs-target="#bio"
                            data-bs-toggle="modal" type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <p>Describe yourself…</p>
                    </div>
                </div>

                <div>
                    <div class="d-flex justify-content-between" data-bs-target="#basicInfo" data-bs-toggle="modal">
                        <h6>Basic Info</h6>
                        <button class="btn btn-outline-none" type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex flex-column gap-2 mb-3">
                        <div>
                            <i class="bi bi-person-fill"></i> name
                        </div>
                        <div>
                            <i class="bi bi-calendar3"></i> date
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Customise your Intro</h6>
                        <button class="btn btn-outline-none" data-bs-target="#intro" data-bs-toggle="modal" type="button"><i class="bi bi-pencil-square"></i></button>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <div>
                            <i class="bi bi-mortarboard-fill"></i> hello
                        </div>
                        <div>
                            <i class="bi bi-house-door-fill"></i> hello
                        </div>
                        <div>
                            <i class="bi bi-house-door-fill"></i> hello
                        </div>
                        <div>
                            <i class="bi bi-mortarboard-fill"></i> hello
                        </div>
                        <div>
                            <i class="bi bi-geo-alt-fill"></i> hello
                        </div>
                        <div>
                            <i class="bi bi-heart-fill"></i> hello
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#image" data-bs-toggle="modal" type="button">Open second modal</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="image" aria-hidden="true" aria-labelledby="imageModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imageModalToggleLabel">Choose profile picture</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="file">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal" type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="bio" aria-hidden="true" aria-labelledby="bioModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bioModalToggleLabel">Bio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="1" placeholder="Describe who you are"></textarea>             
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal" type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="basicInfo" aria-hidden="true" aria-labelledby="basicInfoModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="basicInfoModalToggleLabel">Basic Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex gap-5">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-md" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-md" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
              <label class="form-check-label" for="gridCheck">
                DOB
              </label>
              <input type="date" class="form-control form-control-md" required>
            </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle"
                    data-bs-toggle="modal" type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="intro" aria-hidden="true" aria-labelledby="introModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="introModalToggleLabel">Edit details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control" type="file">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" type="button">Cancel</button>
                <button class="btn btn-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</div>