<div>
    <h5>Contact info</h5>
    <div class="d-flex align-items-center justify-content-start gap-2">
        <div>
            <i class="bi bi-telephone-fill text-secondary"></i>
        </div>
        <div>
            <p style="margin: 0;">1234567890</p>
            <span>Mobile</span>
        </div>
    </div>
</div>
{{yield}}