<div>
    <h5>Relationship</h5>
    <div class="d-flex align-items-center justify-content-start gap-2">
        <i class="bi bi-telephone-fill text-secondary"></i>
        <p style="margin: 0;">No relationship info to show</p>
    </div>
</div>
{{yield}}