<div>
    <h5>University</h5>
    <div class="d-flex flex-column gap-2">
        <p>Studied asdf at Sri Ramakrishna Engineering College International Admission
            Be
            ·
            School year 2022
            asd</p>
    </div>
</div>
{{yield}}