<div>
    <h5>Work</h5>
    <div class="d-flex flex-column gap-2">
        <p>Former Trainee at Zoho</p>
        <p style="margin: 0;">4 April 2023 - 5 April 2024 Chennai, India</p>
        <p>asdf</p>
    </div>
</div>
{{yield}}