<div>
    <button class="btn btn-outline-none" {{on "click" this.handleIsShow}}><i class="bi bi-bell"></i></button>
    {{#if this.isShow}}
    <div class="card p-2" style="position: absolute;z-index: 10; width:20%">
        {{#each this.websocket.data as |data|}}
        <p>{{data.comment}}</p>
        {{/each}}
    </div>
    {{/if}}
</div>